html, body, #app {
    height: 100%;
    margin: 0;
}

#app {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Ajusta a auto para el footer */
}

.navmodificado{
    background-color: #FEBB02;
    color: #113C73;
    height: 70px;
    font-weight: bolder;
}

.separador {
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
    padding: 20px; /* Opcional */
}

.left {
    padding-left: 3rem;
}

.right {
    padding-right: 3rem;
}

h1 {
    display: none;
}

.iconosHome{
    margin: 4rem 0;
}

img {
    width: 100%;
}

.logo {
    margin-top: 3rem;
    width: 75%;
}

.logo-nav {
    max-width: 150px;
}

.texto {
    font-size: 1.3rem;
    margin: 3rem 0;
}

.footer {
    height: 70px;
    background-color: #113C73;
    color: whitesmoke;
}

.footer p {
    text-align: center;
    margin-top: 1rem;
}

/* -------------------------------NOVEDADES */
.cardModificada{
    border: none;
}

.tituloCard{
    font-size: 1.3rem;
    font-weight: bolder;
    font-style: italic;
    color: #113C73;
}

.boton{
    background-color: #FEBB02;
    color: #113C73;
    padding: 0.5rem 4rem;
    font-weight: bold;
    width: 100%;
}



/* -------------------------------QUIENES SOMOS */

.carousel {
    position: relative;
}

.superpuesto {
    position: absolute; 
    top: 18rem;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 20px;
}